.appHeader {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: black;
}

.img {
    padding: 15px;
    max-width: 100%;
    border: 5px;
    border: color rgb(47, 125, 174);
}