.info-main {
    margin: 15px;
}

.info-header {
    margin-top: 40px;
    text-align: center;
    color:  rgb(59, 154, 213);
    font-family: 'Squada One', sans-serif;
    font-weight: 525;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.pic-div {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.why-us {
    background-image: url('/images/_DSC7034.JPG') 
}

.venues {
    background-image: url('/images/_DSC2949.jpg')
}
.profiles {
    background-image: url('/images/_DSC7122.JPG')
}

.text {
    font-size: 20px;
    font-family: 'Squada One', sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
a:visited {
    text-decoration: none;
    color: inherit;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgb(59, 154, 213);
}
.info {
    flex: 1;
    margin: .7em;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6em 3em;
}

