.userbar {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgb(22, 22, 22);;
}

.btn {
    color: white;
    font-family: 'Squada One', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    margin: 13px;
}

.btn:hover {
    color: rgb(59, 154, 213);
}