.vid-form{
    background-color: rgb(246, 246, 246);
}

.videosubmit-form {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-bottom: 10px;
    background-color: rgb(246, 246, 246);
}
.vidform-submit{
    text-transform: capitalize;
    text-align: center;
    padding: 40px;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Squada One', sans-serif;
    letter-spacing: 0.02em;
    color:  rgb(59, 154, 213);
    font-weight: bold;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.vidinfo {
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding:10px;
    border-radius: 1em;
    border-style: solid;
    border-color: rgb(218, 218, 218);
    font-size: 13px;
}

.class {
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.videosubmit-btn {
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    color: rgb(43, 117, 164);
    font-size: 20px;
    margin: auto;
    cursor: pointer;
    border-radius: 1em;
    border-style: solid;
    border-color: rgb(218, 218, 218);
    background-color: rgb(59, 154, 213);
    color: azure;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-family: 'Squada One', sans-serif;
}

.videosubmit-btn:hover {
    color: rgb(108, 189, 238);
}

.loginbtn:hover {
    color: rgb(108, 189, 238);
}

.videoscrbtn {
    border: none;
    margin-left: 42.5%;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 1em;
    border-style: solid;
    border-color: rgb(218, 218, 218);
    font-family: 'Squada One', sans-serif;
    font-size: 18px;
    color: rgb(43, 117, 164);
    margin-bottom: 20px;
    margin-top: 15px;
    background-color: rgb(59, 154, 213);
    color: azure;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-family: 'Squada One', sans-serif;
}
.videoscrbtn:hover {
    color: rgb(108, 189, 238);
}