* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

.videos {
    width: 100%;
}

.video-main {
    width: 30%;
    margin: 1%;
}

.video-row {
    width: 100%;
}

.video-row,
.video-row > .video-column {
    padding: 8px;
}

.video-column {
    width: 100%;
}

.video-row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    border: 12px;
    border-style: solid;
    border-color: rgb(94, 94, 94);
    width: 100%;
    background-color: rgb(53, 140, 195);
    font-family: 'Squada One', sans-serif;
    letter-spacing: 0.08em;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

.row-p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.954);
    
}

