* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: 'Squada One', sans-serif;
}

.videos {
    max-width: 100%;
}

.video-main {
    max-width: 1000px;
    margin: auto;
}

.video-row {
    margin: 8px -16px;
}

.video-row,
.video-row > .video-column {
    padding: 8px;
}

.video-column {
    width: 25%;
    float: left;
}

.video-row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 10px;
}

.video-row {
    
    /* display: flex; 
    justify-content: space-evenly; 
    flex-direction: row; 
    background-color: rgb(22, 22, 22);
    margin-top: 20px;
    margin-bottom: 20px;
    border: 15px;
    border-radius: 100px;
    border-style: solid;
    border-color: rgb(22, 22, 22);;  */
}

